# This .gitignore file is designed to prevent accidental upload of certain files and directories
# to version control. The following file types and directories will be ignored by git:

# Design files
*.sketch
*.fig
*.xd

# Directories that should not be tracked by git
.DS_Store
.vscode/
node_modules/

# Files that should not be tracked by git
.prettierignore

# If you need to add any other files or directories to this .gitignore file,
# make sure to add them on a new line.
