/* General styles */
body {
  margin: 0;
  box-sizing: border-box;
  background-color: #f3eae3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 590px;
  border-radius: 10px;
  background-color: white;
}

.images {
  width: 295px;
  height: 450px;
  border-radius: 10px 0 0 10px;
  object-fit: cover; /* Added to ensure the image covers the entire container */
}

.right {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
}

.price,
.perf {
  width: 100%;
  font-size: 16px;
  color: #999aa8;
  letter-spacing: 7px;
}

.parentBtn {
  width: 100%;
}

.buttons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: green;
  color: white;
  border: none;
  gap: 10px;
  font-weight: bold;
  cursor: pointer;
}

.text {
  font-size: 38px;
  font-weight: bold;
}

.text2 {
  font-size: 16px;
  color: #999aa8;
}

.ola {
  font-size: 32px;
  color: green;
  font-weight: bold;
}

.ola2 {
  font-size: 18px;
  color: #999aa8;
  text-decoration: line-through;
}

/* Media queries for smaller screens */
@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
    width: 90%;
    border-radius: 10px;
    background-color: white;
  }

  .images {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
  }

  .right {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }


